extends ../../layouts/defaut

block main 
    if (products[0].title) 
        h1(class="mb-4") #{products[0].title}
    if (products[0].price) 
        div(class="mb-4") Giá: <b>#{products[0].price}$</b>
    if (products[0].discountPercentage) 
        div(class="mb-4") Giảm giá: <b>#{products[0].discountPercentage}</b>
    if (products[0].stock)
        div(class="mb-4") Còn lại: <b>#{products[0].stock}</b>
    if (products[0].thumbnail) 
        div(class="mb-4")
            img(
                src=products[0].thumbnail
                style="width: 100px"
            )
    if (products[0].status)
        div(class="mb-4")
            span Trạng thái:
            if (products[0].status == "active")
                span(class="badge badge-success") Hoạt động
            else
                span(class="badge badge-danger") Dừng hoạt động
    if (products[0].position) 
        div(class="mb-4") Vị trí: <b>#{products[0].position}</b>
    if (products[0].description)
        //- Sử dụng ! thay # để có thể hiện thị nội dung kh kèm mã html 
        div(class="mb-4") !{products[0].description}
    a(
        href=`${prefixAdmin}/products/edit/${products[0].id}`
        class="btn btn-warning btn-sm"
    ) Chỉnh Sửa
    script(src="/admin/js/product.js")
