extends ../../layouts/defaut
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
  +alert-success("5000")

  h1 Danh Sách Sản Phẩm
    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)
      .card-body  
        div(sort)
          .row 
            .col-4
              +sort()
      .card-body
        .row 
          .col-8 
            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
          .col-4
            a(
              href=`${prefixAdmin}/products/create`
              class="btn btn-outline-success add-item"
              ) + Thêm Mới
          
    table( 
      class="table table-hover table-sm"
      checkbox-multi
      )
      thead
        th  
          input(type="checkbox", name="checkall")
        th STT
        th Hình Ảnh
        th Tiêu Đề
        th Giá
        th Vị Trí
        th Trạng Thái
        th Hành Động
      tbody
        each item, index in products
          tr
            td  
              input(
                type="checkbox"
                name="id"
                value = item.id
                )
            td #{index + 1}
            td 
              img(src=item.thumbnail, 
              alt="Sản Phẩm " + (index + 1),
              width="100px", 
              height="auto"
              )
            td #{item.title}
            td #{item.price}$
            td 
              input(
                type="number",
                value=item.position,
                style="width:60px",
                min="1",
                name="position"
                )
            td 
              if(item.status == "active")
                a(
                  href="javascript:;",
                  data-status = item.status
                  data-id = item.id
                  button-change-status
                  class="badge badge-success"
                  ) Hoạt động
              else
                a(
                  href="javascript:;",
                  data-status =  item.status
                  data-id = item.id
                  button-change-status
                  class="badge badge-danger"
                  ) Dừng hoạt động
            td
              a(
                href=`${prefixAdmin}/products/detail/${item.id}`
                class="btn btn-secondary btn-sm"
                ) Chi Tiết
              a(
                href=`${prefixAdmin}/products/edit/${item.id}`
                class="btn btn-warning btn-sm"
                ) Sửa
              button(
                class="btn btn-danger btn-sm ml-1"
                button-delete
                data-id=item.id
                ) Xóa
  +pagination(pagination)
  a(
    href=`${prefixAdmin}/products/trash`
    class="btn-trash"
    ) 
    <svg class="icon-trash" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
          <path d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z"></path>
          <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
    </svg>Thùng rác

  #myModal.modal
      .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Modal Heading
            button.close(type='button', data-dismiss='modal') &times;
          // Modal body
          .modal-body
            form(
              action=`${prefixAdmin}/products/create`
              id="form-create-product"
              method="POST"
          )
              div(class="form-group")
                  label(for="title") Tiêu đề
                  input(
                      type="text"
                      class="form-control"
                      id="title"
                      name="title"
                      required
                  )
              div(class="form-group")
                  label(for="desc") Mô tả
                  textarea(
                      class="form-control"
                      id="desc"
                      name="description"
                      rows="5"
                  )
              div(class="form-group")
                  label(for="price") Giá
                  input(
                      type="number"
                      class="form-control"
                      id="price"
                      name="price"
                      value="0"
                      min="0"
                  )
              div(class="form-group")
                  label(for="discount") % Giảm giá
                  input(
                      type="number"
                      class="form-control"
                      id="discount"
                      name="discountPercentage"
                      value="0"
                      min="0"
                  )
              div(class="form-group")
                  label(for="stock") Số lượng
                  input(
                      type="number"
                      class="form-control"
                      id="stock"
                      name="stock"
                      value="0"
                      min="0"
                  )
              div(class="form-group")
                  label(for="thumbnail") Ảnh
                  input(
                      type="text"
                      class="form-control"
                      id="thumbnail"
                      name="thumbnail"
                  )
              div(class="form-group")
                  label(for="position") Vị trí
                  input(
                      type="number"
                      class="form-control"
                      id="position"
                      name="position"
                      placeholder="Tự động tăng"
                      min="1"
                  )
        
              div(class="form-group form-check form-check-inline")
                  input(
                      type="radio"
                      class="form-check-input"
                      id="statusActive"
                      name="status"
                      value="active"
                      checked
                  )
                  label(for="statusActive" class="form-check-label") Hoạt động
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            div(class="form-group")
                button(
                type="submit"
                class="btn btn-primary"
                ) Tạo mới
                button.btn.btn-danger(type='button', data-dismiss='modal',style="margin-left: 310px") Close
          // Modal footer
          .modal-footer
            span <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zM8 9c2.201 0 3 1.794 3 3H9c-.012-.45-.194-1-1-1s-.988.55-1 1.012L5 12c0-1.206.799-3 3-3zm4 9c-4 0-5-4-5-4h10s-1 4-5 4zm5-6c-.012-.45-.194-1-1-1s-.988.55-1 1.012L13 12c0-1.206.799-3 3-3s3 1.794 3 3h-2z"></path></svg>

  form(
    action=""
    method="POST"
    id ="form-change-status"
    data-path= `${prefixAdmin}/products/change-status`
  )
  form(
    action=""
    method="POST"
    id ="form-delete-item"
    data-path= `${prefixAdmin}/products/delete`
  )

  script(src="/admin/js/product.js")

