include ../mixins/sub-menu.pug
header.header 
  .contaiter
    .align-item-center.menu
      div.inner-logo
          a(href="/") 
            img(src="/img/logo.jpg",alt="logo")
      .form-search-header
        form(
          action="/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value = keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm

      div(style="display: flex").inner-menu
          ul
            li
              a(href="/") Trang Chủ
            li(class="sub-menu") 
              -const pathProduct = "/products" 
              a(href=pathProduct) Sản Phẩm
                +sub-menu(layoutProductsCategory, pathProduct)
          ul
            li
              a(href="/cart") Giỏ hàng(#{miniCart ? miniCart.totalQuantity : 0})
          if(user)
             ul
              li 
                a(href="/user/logout") Đăng xuất
          else
            ul
              li 
                a(href="/user/register") Đăng kí
              li 
                a(href="/user/login") Đăng nhập 