include ../mixins/sub-menu.pug
header.header 
  .contaiter
    .align-item-center.menu
      div.inner-logo
          a(href="/")
            img(src="/img/logo.jpg",alt="logo")
      .form-search-header
        form(
          action="/search"
          method="GET"
        )
          div(class="form-group d-flex mb-0")
            input(
              type="text"
              placeholder="Nhập từ khóa..."
              class="form-control"
              name="keyword"
              value = keyword
            )
            button(
              type="submit"
              class="btn btn-primary"
            ) Tìm

      div.inner-menu
          ul
            li
              a(href="/") Trang Chủ
            li(class="sub-menu") 
              -const pathProduct = "/products" 
              a(href=pathProduct) Sản Phẩm
                +sub-menu(layoutProductsCategory, pathProduct)
              