.sider
  ul
    li
      a(href=`${prefixAdmin}/dashboard`) Tổng Quan
    li
      a(href=`${prefixAdmin}/products`) Sản Phẩm
    li
      a(href=`${prefixAdmin}/products-category`) Danh Mục Sản Phẩm
    li
      a(href=`${prefixAdmin}/roles`) Nhóm Quyền
    li
      a(href=`${prefixAdmin}/roles/permisstions`) Phân Quyền