.sider
  ul
    li
      a(href=`${prefixAdmin}/dashboard`) Tổng Quan
    if(role[0].permisstions.includes("products_view"))
      li
        a(href=`${prefixAdmin}/products`) Sản Phẩm
    if(role[0].permisstions.includes("products-category_view"))
      li
        a(href=`${prefixAdmin}/products-category`) Danh Mục Sản Phẩm
    if(role[0].permisstions.includes("roles_view"))
      li
        a(href=`${prefixAdmin}/roles`) Nhóm Quyền
    if(role[0].permisstions.includes("roles_permisstions"))
      li
        a(href=`${prefixAdmin}/roles/permisstions`) Phân Quyền
    li
      a(href=`${prefixAdmin}/accounts`) Danh Sách Tài Khoản